<!-- Don't Copy Us! -->
<p>&copy;CouldBeBanana 2019. All rights reserved.</p>

<!-- scripts -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="/js/app.js"></script>
<!-- End of Scripts -->