<!-- NAV -->
<nav class="nav" id="topNav">
  <a href="/" class="menu">RESTAURANT ROULETTE</a>
  <a href="../pages/how-to.ejs">About the App</a>
  <a href="/">Spin the Wheel!!</a>
  <a href="../pages/favorites">Your Jackpot Eats</a>
  <!-- <a href="#badeats">Hot Garbage</a> -->
  <a href="../pages/about-us.ejs">About Us</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fas fa-hamburger"></i></a>
</nav>
<!-- END NAV -->