<!-- NAV -->
<nav class="nav" id="topNav">
  <a href="#home" class="menu">RESTAURANT ROULETTE</a>
  <a href="#howto">About the App</a>
  <a href="#roulette">Spin the Wheel!!</a>
  <a href="#goodeats">Your Jackpot Eats</a>
  <!-- <a href="#badeats">Hot Garbage</a> -->
  <a href="#aboutus">About Us</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fas fa-hamburger"></i></a>
</nav>
<!-- END NAV -->