


<%- include('partials/header.ejs') %>
<body>
  <h1><%= users.username %></h1>
  <form name="Login/<%= users.username %>" method="POST" >
    <lable>Username:</lable>
    <input type="text" name="username" value="<%- users.username %>"  class="form-control" placeholder= "Username:">
    <button class="btn btn-warning btn-lg" type="submit">Login</button>
  </form>

  <hr>

  <p>Already have an account? <a href="/signup>Signup</a></p>
  <p>or go <a href="/">Signup</a></p>
  
  
  
 

      
        
   

















</body>