<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <%- include('partials/head') %>
</head>

<body>
  <header>
    <%- include('partials/nav') %>
  </header>
  <main>
    <h1>Login here!</h1>
    <section class="controls">
    <div class="login-contanier">
      <form action="/login" method="post" class='form-login-in'>
        <input type="text" name="username" class="form-control" placeholder="username" requried autofocus>
        <p>remember me</p>
        <input type="checkbox" name="remember" class="form-control" placeholder="Remember me">
        <button type="submit">LogIn</button>
      </form>


    </div>
    <div class="signup-container">
      <a href="/signup"><em>Sign Up!</em></a>
    </div>
  </section>
  </main>


  <footer>
    <%- include('partials/footer')%>
  </footer>
</body>

</html>