<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>

  </header>
  <main>
    <h1>meet the devs</h1>
    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/99/200">
      <p><em>Brandyn </em>Hey, my name is Brandyn Vay and im currently a software developer I was born in the PNW. I have moved around country to country since i was a kid, living mostly in Asia. I  have a diverse palette for food. Currently my favorite restaurant in Seattle is Cafe Juanita, It reminds me of the Italian food that my grandma would make. It brings back great memories.</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/100/199">
      <p><em>Marry </em>Hi, my name is Meron Sibani and I worked as Desktop support technician and network Admin back home in Ethiopia and neighbor countries in Africa. Currently I am here in code fellows, being in United States, opens me a door to change and field and pursue my interest towards Web Development. my favorite restaurant in Seattle is Olympia Pizza & Spaghetti.</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/100/200">

      <p><em>Richard </em>PNW Native
        My prior roles were in business analysis and product management,  I wanted to learn to code so I could build stuff.
        Favorite quick bites: Taco Chukis</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/101/200">
      <article class="bio-bits">
        <p><em>Ai </em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ratione architecto beatae? Et
          vel, a recusandae veniam eius earum expedita inventore reprehenderit praesentium atque ipsum quidem! Obcaecati
          ratione maiores perferendis.</p>
      </article>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>

  </footer>
</body>

</html>