<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>

  </header>
  <main>
    <h1>meet the devs</h1>
    <div class="bio">
      <img class="left infographic" src="/img/brandon.jpg">
      <p><em>Brandyn </em>Hey, my name is Brandyn Vay and im currently a software developer I was born in the PNW. I have moved around country to country since i was a kid, living mostly in Asia. I  have a diverse palette for food. Currently my favorite restaurant in Seattle is Cafe Juanita, It reminds me of the Italian food that my grandma would make. It brings back great memories.</p>
    </div>

    <div class="bio">
      <img class="left infographic" src="/img/marry.jpg">
      <p><em>Marry </em>Hi, my name is Meron Sibani and I worked as Desktop support technician and network Admin back home in Ethiopia and neighbor countries in Africa. Currently I am here in code fellows, being in United States, opens me a door to change and field and pursue my interest towards Web Development. my favorite restaurant in Seattle is Olympia Pizza & Spaghetti.</p>
    </div>

    <div class="bio">
      <img class="left infographic" src="/img/richie.png">

      <p><em>Richard </em>PNW Native
        My prior roles were in business analysis and product management,  I wanted to learn to code so I could build stuff.
        Favorite quick bites: Taco Chukis</p>
    </div>

    <div class="bio">
      <img class="left infographic" src="/img/eye.jpg">
      <article class="right">
        <p><em>Ai </em>Another directionless millenial and the mother of this app and two amazing kiddos, I wanted a fun and easy way to cut to the chase when it came to picking a place to eat. My favorite food is Korean food, but I can't bear to pay for it when it's made better at home but I never hesitate to shell out for a bowl of pho from good old Pho Than Bros. If I feel daring, Rancho Bravo Tacos.</p>
      </article>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>

  </footer>
</body>

</html>