<!-- Aileen -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/head.ejs') %>
  <!--   
  <title>Restaurant Roulette!</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/styles/reset.css">
  <link rel="stylesheet" href="/public/styles/base.css">
  <link rel="stylesheet" href="/public/styles/layout.css">
  <link rel="stylesheet" href="/public/styles/modules.css"> -->


</head>

<body>
  <header>
    <%- include('partials/header.ejs') %>
    <!-- 
<nav class="nav" id="topNav">
    <a href="/" class="menu">RESTAURANT ROULETTE</a>
    <a href="../pages/how-to.ejs">About the App</a>
    <a href="/">Spin the Wheel!!</a>
    <a href="../pages/favorites">Your Jackpot Eats</a>
    <a href="#badeats">Hot Garbage</a>
    <a href="../pages/about-us.ejs">About Us</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fas fa-hamburger"></i></a>
  </nav> -->

  </header>
  <main>
    <h1>meet the devs</h1>
    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/99/200">
      <p><em>Brandyn </em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae adipisci cupiditate eius
        necessitatibus! Recusandae sunt fugiat officiis quasi nihil. Exercitationem aliquid corporis a officia sint
        aperiam provident dicta quas reiciendis?</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/100/199">
      <p><em>Marry </em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quaerat quo harum at nostrum
        laudantium vitae dolor facere eaque voluptates reiciendis repellendus obcaecati, omnis voluptatem eum aut
        deleniti animi voluptatum.</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/100/200">

      <p><em>Richard </em>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam nisi sunt maxime id
        consequatur, obcaecati laborum expedita impedit? Molestiae necessitatibus placeat autem iste adipisci natus et
        nobis, quas molestias sunt.</p>
    </div>

    <div class="bio">
      <img class="bio-pics" src="http://placekitten.com/101/200">
      <article class="bio-bits">
        <p><em>Ai </em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla ratione architecto beatae? Et
          vel, a recusandae veniam eius earum expedita inventore reprehenderit praesentium atque ipsum quidem! Obcaecati
          ratione maiores perferendis.</p>
      </article>
    </div>
  </main>

  <footer>
    <%- include('partials/footer.ejs') %>
    <!-- 
  <h3>&copy;CouldBeBanana 2019. All rights reserved.</h3>
  
  
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="/public/js/app.js"></script> -->
  </footer>
</body>

</html>