<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <header>
        <%- include('../partials/nav') %>
    </header>

    <main>
      <%-include('/shop-details/:shop_id', showShopDetails)); %>
      <form action="/shop-favorites/<%restaurant.id %>" method="post">
        <imput type="hidden" name="_method"
        value="delet"'>
      <button type="submit"
      class="delete-button">Delete Restaurant</button>
    </form>

    </main>

    <footer>
        <%- include('../partials/footer')%>
    </footer>

  </body>

    
</html>

