<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
  <title>How To Use This App</title>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <main>
        <h1>How To Use</h1>
      <section class="how-to">
      <ul>
        <li>Step 1 - Enter your location.  This will be used to find nearby establishments.</li>
        <br>
        <li>Step 2 - Select the price range of the meal your are looking for:  $ - cheap, $$ - mid-range, $$$ - expensive, $$$$ - very expensive.</li>
        <br>
        <li>Step 3 - Click the roulette wheel!  The wheel will shake once the search criteria have been entered to alert you that it is ready to find a restaurant for you.</li>
        <br>
        <li>Once you spin the wheel, you will get the details for the restaurant that has been selected for you.</li>
        <br>
        <li>If you do not like the selection, you can press the button beneath and another selection will be presented to you.</li>
        <br>
        <li>If you really like the result, You can check it out in your saved history and press the favorites button to add the restaurant to your collection.
        </li>
      </ul>
      <div class="duo">
        <img src="/img/SpinKitty.jpeg" alt="Picture of Home Screen" class="left infographic">
        <img src="/img/SearchResult.jpeg" alt="Picture of Results Screen" class="right infographic">
       </div>
       </section>
      </main>
      <footer>
        <%- include('../partials/footer') %>
    
      </footer>
    </body>
    
    </html>
    