<!--how-to Richard-->>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')%>
  </head>

  <body>
    <header>
    <%- include('../partials/header.ejs')%>
    </header>
    <main>
      <h2>How To Use</h2>
      <ul>
        <li>Step 1 - Enter your location.  This will be used to find nearby establishments.</li>
        <li>Step 2 - Select the price range of the meal your are looking for:  $ - cheap, $$ - mid-range, $$$ - expensive, $$$$ - very expensive.</li>
        <li>Step 3 - Click the roulette wheel!  The wheel will shake once the search criteria have been entered to alert you that it is ready to find a restaurant for you.</li>
        <li>Once you spin the wheel, you will get the details for the restaurant that has been selected for you.</li>
        <li>If you do not like the selection, you can press the <grimace>, and another selection will be presented to you.</li>
        <li>If you really like the result, you can press the favorites button to add the restaurant to your collection.
          </li>
      </ul>
      <div>
        <img src="" alt="Picture of Home Screen">
        <img src="" alt="Picture of Results Screen">
       </div>
    </main>

    <footer>
    <%- include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>