<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Today I'm Eating...</title>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>
  <main>
      <%- include('../partials/details') %>
    </main>
    <footer>
      <%- include('../partials/footer') %>
  
    </footer>
  </body>
  
  </html>
  