@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Patrick+Hand|Ubuntu+Mono&display=swap');

html, body {
  height: 100%;
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: 'Patrick Hand', cursive;
  color:#370926;
  font-size:16px;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  /* background-color: #ffba49; */
  color:#370926;
  font-weight: bolder;
}

a:hover{
  text-decoration: underline;
  /* background-color: #370926; */
  color: #ffba49;
}

em{
  font-size:1.5em;
  font-weight:boldest;
}

h1{
  font-size:2.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.75em;
}

p{
  margin:10px;
}


button{
  border: none;
  border-radius: none;
  background: #ffba49;
  color: #370926;
  padding: 5px 15px;
  transition: 250ms all;
  cursor: pointer;
  margin: 10px;
}
  
button:hover{
  background-color: #370926;
  color: #ffba49;
}

.nav a:not(:first-child){
  font-family: 'Patrick Hand', cursive; 
/*   font-family: 'Ubuntu Mono', monospace; */
}

.nav{
  overflow: hidden;
  background-color: #1c0118;
}

.nav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav a:first-child{
    font-size: 22px;
}


.nav .icon {
  display: none;
}


.nav a:hover {
  background-color: #370926;
  color: #ffba49;
}



@media screen and (min-width:300px) and (max-width: 768px){
  .nav a:not(:first-child){
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .controls{
    margin: 0px auto;
    width:70%;
    text-align: center;
    color:#1c0118;
  }

  .how-to{
    margin: 0px auto;
    padding: 10px;
    width:70%;
    color:#1c0118;
  }

  #roulette{
    margin: 10px auto;
    border-radius: 50%;
    border:solid 2px #1c0118;
    width: 100px;
    height: 100px;
    transition: 1s all;
    background: url('http://67.media.tumblr.com/7592e6f5cf1efe81b2a07d8cea53a65b/tumblr_ndgd0mLqO21qhy6c9o3_400.gif');
  }
  
  .spin{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transform: rotate(2160deg);
  }
  .duo{
    width:70%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

main{
  width: 90%;
  margin: 0 auto;
  flex: 1 0 auto;
}

#roulette{
  margin: 20px auto;
  border-radius: 50%;
  border:solid 2px #1c0118;
  width: 300px;
  height: 300px;
  transition: 1s all;
  background: url('http://67.media.tumblr.com/7592e6f5cf1efe81b2a07d8cea53a65b/tumblr_ndgd0mLqO21qhy6c9o3_400.gif');
}

.spin{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transform: rotate(2160deg);
}

.controls{
  margin: 20px auto;
  padding: 10px;
  width:600px;
  text-align: center;
  color:#1c0118;
}
.how-to{
  margin: 20px auto;
  padding: 10px;
  width:600px;
  color:#1c0118;
}

input{
  margin: 10px auto;
  display:block;
  padding: 5px;
  border: solid 2px #ffba49;
}

.duo{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.bio{
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  
}

.left{
  order:0;
  flex-grow: 1;
  
}

.right{
  order:1;
  flex-grow: 1;
}

.infographic{
  width: 30%;
  height: 30%;
}

footer{
  width:100%;
  padding: 20px;
  text-align: center;
  color: #ffba49;
  background-color: #1c0118;
  margin-top: 20px;
  flex-shrink: 0;
}



.form-2 {
  /* Size and position */
  width: 340px;
  margin: 60px auto 30px;
  padding: 15px;
  position: relative;

  /* Styles */
  background: #dfc285;
  border-radius: 4px;
  color: #272625;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h1 {
  font-size: 15px;
  font-weight: bold;
  color: #bdb5aa;
  padding-bottom: 8px;
  border-bottom: 1px solid #EBE6E2;
  text-shadow: 0 2px 0 rgba(255,255,255,0.8);
  box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in,
.form-2 h1 .sign-up {
  display: inline-block;
  text-transform: uppercase;
}

.form-2 h1 .log-in {
  color: #6c6763;
  padding-right: 2px;
}

.form-2 h1 .sign-up {
  color: #5c3909;
  padding-left: 2px;
}

.form-2 label {
  display: block;
  padding: 0 0 5px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  font-size: 11px;
}

.form-2 label i {
  margin-right: 5px; /* Gap between icon and text */
  display: inline-block;
  width: 10px;
}

.form-2 input[type=text],
.form-2 input[type=checkbox]
 {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover {
    border-color: #CCC;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

